export PATH="$PWD/bin:$PATH"

#
# AWS Variables
#
# Note that the AWS cli will automatically detect and
# utilize specific environment variables if they're set.
# We've defined the keys below with dummy values; if you
# want to make use of things this way, you'll need to
# create credential files, update the paths below and
# uncomment the relative lines.
#

#
# NOTE: Don't commit secrets to git (or any other scm)
# since that's just asking for trouble. To help you do
# things a little cleaner, in the below values we're
# actually subshelling out to `cat` a file.

#
# export AWS_ACCESS_KEY_ID="$(cat $HOME/path/to/secrets/aws_access_key_id)"
# export AWS_SECRET_ACCESS_KEY="$(cat $HOME/path/to/secrets/aws_secret_access_key)"
# export AWS_DEFAULT_REGION="us-west-2"
#
